# EditorConfig is awesome: http://EditorConfig.org
# version: 1.0.6

# top-most EditorConfig file
root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = tab
indent_size = 2

