jacob.dll
jacob.jar
jacobdll.jar
*.zip
RELEASE.txt
.project
.cproject
.classpath
compilation_tools.properties
version.properties
release
.externalToolBuilders
.cdtproject
foo.foo
foo.ser
JacobVersion.properties
.settings
setenv.sh
junit*properties
~$*
