<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="PLUG.dll"
            nameFilter="*.dll"
            objectClass="org.eclipse.core.resources.IFile">

         <menu
               label="JACOB Generator"
               path="additions"
               id="PLUG.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate genmodel"
               class="plug.popup.actions.NewAction"
               menubarPath="PLUG.menu1/group1"
               enablesFor="1"
               id="PLUG.newAction">
         </action>
      </objectContribution>
      <objectContribution
            id="PLUG.exe"
            nameFilter="*.exe"
            objectClass="org.eclipse.core.resources.IFile">

         <menu
               label="JACOB Generator"
               path="additions"
               id="PLUG.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate genmodel"
               class="plug.popup.actions.NewAction"
               menubarPath="PLUG.menu1/group1"
               enablesFor="1"
               id="PLUG.newAction">
         </action>
      </objectContribution>
      <objectContribution
            id="PLUG.tlb"
            nameFilter="*.tlb"
            objectClass="org.eclipse.core.resources.IFile">

         <menu
               label="JACOB Generator"
               path="additions"
               id="PLUG.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate genmodel"
               class="plug.popup.actions.NewAction"
               menubarPath="PLUG.menu1/group1"
               enablesFor="1"
               id="PLUG.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
